* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --cor00: #1C1917;
  --cor01: #E66900;
  --cor02: #E17100;
  --cor03: #FEE993;
  --cor04: #FFF9EB;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
}

body>header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px;
  border-bottom: 2px solid var(--cor03);
}

.header-logo {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  gap: 4px;
}

.header-logo img {
  width: 50px;
  height: 50px;
  /* border: 2px solid orange; */
}

.header-logo h2 {
  font-size: 16px;
  color: var(--cor01);
  font-weight: 50;
  /* border: 2px solid yellow; */
}

.header-logo h3 {
  font-size: 12px;
  color: var(--cor00);
  font-weight: 40;
  /* border: 2px solid green; */
}

header nav {
  /* border: 2px solid palevioletred; */
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav li {
  list-style: none;

  & a {
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 5px;
    color: #1C1917;
  }

  & a:hover {
    background-color: rgba(0, 0, 0, 0.101);
  }
}

.header-botao {
  display: flex;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--cor03);
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }

  & button:nth-child(2) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
  }

  & button:nth-child(2):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }
}

/* Fim da estilização do Header*/

body>main {
  border: 2px solid rgb(255, 247, 0);
  display: flex;
  justify-content: space-between;
  background-color: var(--cor04);
}

.main-titulo {
  display: flex;
  align-items: center;
  border: 2px solid red;
}

.main-titulo > span h2 {
  display: flex;
  border: 2px solid red;
  font-size: 15px;
  font-weight: 100;
  color: var(--cor02);
}

.main-titulo p {
  border: 2px solid rgb(0, 38, 255);
  font-size: 15px;
  color: #190d00;

}

.main-img>img {
  border: 2px solid rgb(43, 255, 0);
  width: 550px;
  height: 350px;
}

.main-img>.shadowbox {
  border: 2px solid rgb(255, 17, 227);;
  background-color: var(--cor03);
  transform: rotate(5deg);
  border-radius: 8px;
  position: relative;
}


.main-botao {
  border: 2px solid rgb(107, 255, 2);
  display: flex;
  height: 30px;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(1) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }

  & button:nth-child(2) {
    border: 1px solid var(--cor02);
    background-color: white;
    color: var(--cor02);
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(2):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }
}

/*header {

}


header img {
    width: 40px;
    height: 40px;
    display: block;
    
}

header h2{
  grid-column: 2; grid-row: 1;
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.1;
  color: var(--text);
}

header h3{
  grid-column: 2; grid-row: 2;
  margin: 2px 0 0 0;
  font-size: 12px;
  font-weight: 500;
}

nav {

}
  
  /* espaço entre os itens */
/* }

.navbar li{
  display: inline-flex;
  align-items: center;
}

.navbar span{
  font-weight: 600;
  color: var(--text);
} 

.navbar button{
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding: 8px 14px;
  background: #fff;
  font-weight: 600;
}

 /* article {
  border: 1px solid red;
}

header div, nav{
 border: 1px solid red;
} 
/* 
main > div > div{
  border: 1px solid red;
} */

/* img {
  width: 35px;
  height: 35px;
  border-radius: 9px;
} */





/* 
.titulo{
  width:50px;
  height: 50px;
  display: flex;
  justify-content: fle;
}

header button{

}

header h2{
  color: #e17100;
  font-size: 15px;
}

header h3 {
  font-size: 10px;
  font-weight: lighter;
}
header .div {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
} 

main {
  background-color: #fff9eb;
  display: flex;
}

main img {
  width: 400px;
  height: 305px;
  position: absolute;
  transform: translate(-0%, -100%);
}

main .shadowbox {
  background-color: #fee993;
  width: 400px;
  height: 305px;
  transform: rotate(5deg);
  border-radius: 8px;
  position: relative;
}



section #sobre {
  max-width:fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.infos {
  background-color: #e17100;

}

#recursos{
  background-color: #fff9eb;
}

.preFooter{
  background-color: #e17100;
}

footer{
  background-color: #1c1917;
}

#sobre > div {
  border: 2px solid red;

} 

#sobre h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin: 15px;
}

#sobre div p{
  text-align: center;
  font-size: 10px;
}

#div_art {
  display: flex;
  justify-content: center;
  

}

article {
  border: 0.7px solid #fee993;
  border-radius: 7px;
  padding: 1rem;
  margin: 10px;

}

article img {
  width: 35px;
  height: 35px;
  border-radius: 9px;
}

article h4,
p {
  font-size: 10px;
} */