* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --cor00: #1C1917;
  --cor01: #E66900;
  --cor02: #E17100;
  --cor03: #FEE993;
  --cor04: #FFF9EB;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: 30px;
}

body>header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px;
  border-bottom: 2px solid var(--cor03);
}

.header-logo {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  gap: 4px;
}

.header-logo img {
  width: 50px;
  height: 50px;
  /* border: 2px solid orange; */
}

.header-logo h2 {
  font-size: 16px;
  color: var(--cor01);
  font-weight: 50;
  /* border: 2px solid yellow; */
}

.header-logo h3 {
  font-size: 12px;
  color: var(--cor00);
  font-weight: 40;
  /* border: 2px solid green; */
}

header nav {
  /* border: 2px solid palevioletred; */
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav li {
  list-style: none;

  & a {
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 5px;
    color: #1C1917;
  }

  & a:hover {
    background-color: rgba(0, 0, 0, 0.101);
  }
}

.header-botao {
  display: flex;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--cor03);
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }

  & button:nth-child(2) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
  }

  & button:nth-child(2):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }
}

/* Fim da estilização do Header*/

main > div{
  flex: 1;
}

body> main {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor04);
  height: 80vh;
}

.main-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}


.main-titulo > h2 {
  display: flex;
  font-size: 15px;
  font-weight: 100;
  color: var(--cor02);
}

.main-titulo > p {
  font-size: 15px;
  color: #190d00;

}

.main-img{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img img {
  width: 650px;
  height: 450px;
  border-radius: 15px;
  z-index: 50;
}

.main-img>.shadowbox {
  background-color: var(--cor03);
  z-index: 40;
  width: 650px;
  height: 450px;
  transform: rotate(3deg);
  border-radius: 8px;
  position: absolute;
}

.main-titulo > .main-botao {
  display: flex;
  height: 30px;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(1) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }

  & button:nth-child(2) {
    border: 1px solid var(--cor02);
    background-color: white;
    color: var(--cor02);
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(2):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }
}

/* Fim da estilização do Main */


/* Inicio da estilização do sobre */

#sobre h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  margin: 15px;
}

#sobre div p{
  text-align: center;
  font-size: 10px;
}

#div_art {
  display: flex;
  justify-content: center;
  

}

article {
  border: 0.7px solid #fee993;
  border-radius: 7px;
  padding: 1rem;
  margin: 10px;

}

article img {
  width: 35px;
  height: 35px;
  border-radius: 9px;
}

article h4,
p {
  font-size: 10px;
}

/* Fim da estilização do Sobre

 /* article {
  border: 1px solid red;
}

header div, nav{
 border: 1px solid red;
} 
/* 
main > div > div{
  border: 1px solid red;
} */

/* img {
  width: 35px;
  height: 35px;
  border-radius: 9px;
} */


/*main {
  background-color: #fff9eb;
  display: flex;
}

main img {
  width: 400px;
  height: 305px;
  position: absolute;
  transform: translate(-0%, -100%);
}

main .shadowbox {
  background-color: #fee993;
  width: 400px;
  height: 305px;
  transform: rotate(5deg);
  border-radius: 8px;
  position: relative;
}


section #sobre {
  max-width:fit-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.infos {
  background-color: #e17100;

}

#recursos{
  background-color: #fff9eb;
}

.preFooter{
  background-color: #e17100;
}

footer{
  background-color: #1c1917;
}

#sobre > div {
  border: 2px solid red;

} 
*/

