* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --cor00: #1C1917;
  --cor01: #E66900;
  --cor02: #E17100;
  --cor03: #FEE993;
  --cor04: #FFF9EB;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
}

body {
  display: flex;
  flex-direction: column;
}

img {
  width: 30px;
}

body>header {
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px;
  border-bottom: 2px solid var(--cor03);
}

.header-logo {
  display: flex;
  align-items: center;
  /* border: 2px solid red; */
  gap: 4px;
}

.header-logo img {
  width: 50px;
  height: 50px;
  /* border: 2px solid orange; */
}

.header-logo h2 {
  font-size: 16px;
  color: var(--cor01);
  font-weight: 50;
  /* border: 2px solid yellow; */
}

.header-logo h3 {
  font-size: 12px;
  color: var(--cor00);
  font-weight: 40;
  /* border: 2px solid green; */
}

header nav {
  /* border: 2px solid palevioletred; */
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  gap: 15px;
}

header nav li {
  list-style: none;

  & a {
    display: flex;
    align-items: center;
    gap: 3px;
    text-decoration: none;
    padding: 5px 6px;
    border-radius: 5px;
    color: #1C1917;
  }

  & a:hover {
    background-color: rgba(0, 0, 0, 0.101);
  }

  & span {
    color: #E17100;
  }
}

.header-botao {
  display: flex;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(1) {
    font-size: 12px;
    font-weight: 500;
    border: 1px solid var(--cor03);
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }

  & button:nth-child(2) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
  }

  & button:nth-child(2):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }
}

/* Fim da estilização do Header*/

main>div {
  flex: 1;
}

body>main {
  display: flex;
  justify-content: space-between;
  background-color: var(--cor04);
  height: 80vh;
}

.main-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}


.main-titulo>h2 {
  display: flex;
  font-size: 15px;
  font-weight: 100;
  color: var(--cor02);
}

.main-titulo>p {
  font-size: 15px;
  color: #190d00;

}

.main-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-img img {
  width: 650px;
  height: 450px;
  border-radius: 15px;
  z-index: 50;
}

.main-img>.shadowbox {
  background-color: var(--cor03);
  z-index: 40;
  width: 650px;
  height: 450px;
  transform: rotate(3deg);
  border-radius: 8px;
  position: absolute;
}

.main-titulo>.main-botao {
  display: flex;
  height: 30px;
  gap: 10px;

  & button {
    padding: 5px 10px;
    border-radius: 5px;
    gap: 2px;
  }

  & button:nth-child(1) {
    border: 2px solid var(--cor02);
    background-color: var(--cor02);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;

  }

  & button:nth-child(1):hover {
    background-color: #c0660c;
    border-color: #c0660c;
  }

  & button:nth-child(2) {
    border: 1px solid var(--cor02);
    background-color: white;
    color: var(--cor02);
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
  }

  & button:nth-child(2):hover {
    background-color: rgba(255, 255, 0, 0.174);
  }
}

/* Fim da estilização do Main */

/* Incio da estilização do Infos*/

.infos {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  background-color: var(--cor01);

  & div {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h3 {
      color: #FFF9EB;
      font-size: 2.5rem;
    }

    & p {
      color: #FFF9EB;
      font-size: 1rem;
    }
  }
}

/* Fim da estilização */

/* Inicio da estilização do sobre */


#sobre {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.sobre-titulo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & h2 {
    padding: 0;
    font-size: 1rem;
    font-weight: 50;
    text-align: center;
    color: rgb(43, 6, 1);
  }

  & p {
    text-align: center;
    font-size: 15px;
  }
}

#div_art {
  display: flex;
  justify-content: center;

}

article {
  display: flex;
  flex-direction: column;
  border: 0.7px solid #fee993;
  border-radius: 7px;
  padding: 1rem;
  margin: 10px;
  gap: 15px;
  width: 50%;
  max-width: 470px;


}

article img {
  width: 45px;
  height: 45px;
  border-radius: 9px;
}

article h4,
p {
  font-size: 15px;
}

/* Fim da estilização do Sobre

 /* article {
  border: 1px solid red;
}

header div, nav{
 border: 1px solid red;
} 
/* 
main > div > div{
  border: 1px solid red;
} */


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 25px;
  gap: 15px;
  background-color: #1c1917;

  & hr {
    border-color: rgba(255, 255, 255, 0.242);
    width: 100%;
  }

  & a {
    text-decoration: none;
    color: white;
    ;
  }

  & p {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

footer .footerPai {
  display: flex;

}

footer .footerPai div {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 50px;
  gap: 5px;
}

footer .material-symbols-outlined {
  color: var(--cor02);
}

#sobre>div {
  border: 2px solid red;

}